input {
  margin: 0 0 10px;
}

#agreement {
  margin: 3px 4px 14px;
}

.field {
  margin: 8px 2px 20px;
  padding-bottom: 0;
}

#cat_n {
  margin: 3px 7px 14px 5px;
}

#cat_y {
  margin: 3px 7px 14px 5px;
}

#work {
  margin: 12px 2px 14px;
}

#commend {
  margin: 10px 0;
}
